.bg_green {
    background-color: #31c48d;
}

@media (min-width: 992px) {
      .custom-padding-ticket {
        padding-right: 120px;
      }

}

.btn-green {
    background-color: #31c48d;
    border-color: #31c48d;

}

.btn-green:hover {
    border-color: #31c48d;
    background-color: #31c48d;
    opacity:0.7;
    color:white;
}

main>.container {
    padding: 20px 25px 0;
}

.event_box a {
    text-decoration: none;
}

.event_box li {
    margin-bottom: 15px;
}

.event_box li ul.history li{
    margin-bottom: 0px !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}


.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
