{% extends 'base.html' %}
{% load pagestags %}

{% block head %}
<h1 class="display-6 fw-bold lh-1">{{object.name}}
<span class="badge {{object.severity|severity_bootstrap}} rounded-pill">{{object.get_severity_display}}</span>
</h1>


{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-8 col-sm-12">

<h3>Beschreibung</h3>
<p>Kurs: {{object.course}}</p>
<p>Medium: {{object.media_type}}</p>
<p>Ort: {{object.location}}</p>

<p>{{object.description}}</p>
</div>

<div class="col-lg-4 col-sm-12">
<p>
Schweregrad: <span class="badge {{object.severity|severity_bootstrap}}
                            rounded-pill">{{object.get_severity_display}}</span>
</p>
<p>
Medium: <b>{{object.media_type}}</b>
</p>
<p>
Ticket wurde am <b>{{object.created_at}} Uhr</b>, eingestellt von  {{object.author}}
</p>
<ul>
  <li>zuletzt bearbeitet von: {{object.updated_by}} am {{object.updated_at}}</li>
  <li>aktueller Status: <b>{{object.get_status_display}}</b></li>
</ul>

{% if object.course.lecturer == user %}
<a href="{% url 'issues:issue_update_tutor' %}">
<button>Ticket bearbeiten</button>
</a>
{% endif %}
</div>


</div>
</div>

{%endblock%}
