{% extends 'base.html' %}
{% load pagestags %}

{% block head %}
<h1 class="display-6 fw-bold lh-1">Issue Übersicht</h1>

{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-12 col-sm-12">

<p>
<a href="{% url 'issues:issue_create' %}">
<button class="btn btn-primary">neues Issue anlegen</button>
</a>
</p>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kurs ID</th>
      <th scope="col">Kurs Name</th>
      <th scope="col">Fehler</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
      <th scope="col">Schwere</th>
    </tr>
  </thead>
  <tbody>
{% for issue in object_list %}
      <tr class="table-{{issue.get_severity_display|severity_bootstrap}}" >
      <th scope="row">{{issue.pk}}</th>
      <td><a href="{% url 'issues:issue_detail' issue.pk %}">{{issue.course.shortcut}}</td>
      {% if user.role == "TUTOR" %}
      <td><a href="{% url 'issues:issue_detail_tutor' issue.pk %}">{{issue.course.name}}</td>
      {% else %}
      <td><a href="{% url 'issues:issue_detail' issue.pk %}">{{issue.course.name}}</td>
      {% endif %}
      <td>{{issue.name}}</td>
      <td>{{issue.author}}</td>
      <td>{{issue.status}}</td>
      <td>
      <span class="badge {{issue.severity|severity_bootstrap}} rounded-pill">{{object.get_severity_display}}</span></td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% include "../snippets/paginator.html" %}



</div>
</div>
</div>

{%endblock%}
