{% extends 'base.html' %}
{% load pagestags %}

{% block head %}
<h1 class="display-6 fw-bold lh-1">{{object.name}}
<span class="badge {{object.severity|severity_bootstrap}} rounded-pill">{{object.get_severity_display}}</span>
</h1>


{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-9 col-sm-12">

<h3>Beschreibung</h3>
<p>Kurs: {{object.course}}</p>
<p>Medium: {{object.media_type}}</p>
<p>Ort: {{object.location}}</p>

<h2 class="mt-5">Ticket Beschreibung</h2>
<p>{{object.description|linebreaks}}</p>

<h2 class="mt-5">Kommentare</h2>
{% include "./snippets/comments.html" %}
</div>

<div class="col-lg-3 col-sm-12">
<p>
Schweregrad: <span class="badge text-bg-{{object.severity|severity_bootstrap}}
                            rounded-pill">{{object.get_severity_display}}</span>
</p>
<p>
Medium: <b>{{object.media_type}}</b>
</p>
<p>
Ticket wurde am <b>{{object.created_at}} Uhr</b>, eingestellt von {{object.author}}
</p>
<ul>
  <li>zugewiesen an: {{object.course.tutor}}</li>
  <li>zuletzt bearbeitet von: {{object.updated_by}} am {{object.updated_at}}</li>
  <li>aktueller Status: <b>{{object.get_status_display}}</b></li>
</ul>

{% if object.course.tutor == request.user %}
<a href="{% url 'issues:issue_update_tutor' object.pk %}">
<button class="btn btn-primary">Ticket bearbeiten</button>
</a>
{% endif %}
</div>
<p>
<a href="{% url 'issues:issue_history' object.pk %}">
  History
</a>
</p>

</div>
</div>

{%endblock%}
