{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load pagestags %}

{% block head %}
    <div class="row">
      <div class="col">
        <h1 class="d-flex align-items-center">
            {{object}} 
          <span 
          class="badge text-bg-{{object.get_severity_display|severity_bootstrap}}
                rounded-pill ms-1" 
          style="font-size:12px; padding-top:-20px"> {{object.get_severity_display}}
          </span>
        </h1>
      </div>
    </div>
{% endblock %}


{% block content %}

<div class="container">
<div class="row">
<div class="col-lg-9 col-sm-12">

    {% crispy form form.helper %}

<h2 class="mt-5">Ticket Beschreibung</h2>
<p>{{object.description|linebreaks}}</p>

<p>
<a href="{% url 'issues:comment_create' object.pk  %}">
<button type="button" class="btn btn-green">Kommentar hinzufügen</button>
</a>
</p>

</div>
<div class="col-lg-3 col-sm-12">
{% if object %}
    <span class="badge {{object.severity|severity_bootstrap}} rounded-pill">Success</span>
  <p>Kursmodul: {{object.course}} ({{object.course.shortcut}})</p>
    <p>Medium: {{object.media_type}}</p>
    <p>Ort: {{object.location}}</p>
    <p>Schlagworte: {{object.tags.all|join:', '}}</p>

    <p>
    Ticket wurde am <b>{{object.created_at}} Uhr</b>, eingestellt von  {{object.author}}
    </p>
    <ul>
      <li>zuletzt bearbeitet am: {{object.updated_at}} von {{object.history.last.updated_by}}</li>
    </ul>
{% endif %}
</div>

</div>
</div>
<script>
window.onload = function(){
    const btn = document.getElementById("returnbutton");
    btn.addEventListener("click", (e) => {
        window.location.href = "/ticket/{{object.pk}}";
    });
};
</script>

{%endblock%}
