{% extends 'base.html' %}
{% load pagestags %}

{% block head %}
<h1 class="display-8 fw-bold lh-2">History des Tickets</h1>
<h3 class="display-10 fw-bold lh-2">{{ticket}}</h3>
<a href="{% url 'issues:issue_detail_tutor' ticket.pk %}">
zurück zum Ticket 
</a>
{% endblock %}

{% block content %}
<div class="container mb-5">
<div class="row">
<div class="col-lg-12 col-sm-12">

<ul class="list-group event_box">
{% for history in object_list %}
<li class="list-group-item rounded">
    {% comment %}
      {{history.get_status_display}}
      {{history.get_type_display}}
    <span class="badge rounded-pill bg-primary">{{history}}</span>
    {% endcomment %}
    <small><span>{{history.created_at}} von {{history.updated_by}}</span></small><br>
<b>{{history.get_type_display}}</b>
<ul class="history">
    {% if history.type == 2 %}
      <li>neuer Ticket-Status: {{history.get_status_display}}</li>
      <li>neuer Ticket-Schweregrad: {{history.get_severity_display}}</li>
    {% else %}
      <li>Ticket-Status {{history.get_status_display}}</li>
      <li>Ticket-Schweregrad {{history.get_severity_display}}</li>

      {% if history.type == 3 %}
      <a 
         href="#"
         hx-get="{% url 'issues:comment_detail' history.comment.pk  %}" 
         hx-target="#dialog">
          Kommentar öffnen
      </a>
      {% endif %}
    {% endif %}
</ul>
</li>
{% endfor%}
</ul>




</div>
</div>
</div>

{%endblock%}
