{% extends 'base.html' %}
{% load pagestags %}

{% block head %}
<h1 class="display-6 fw-bold lh-1">Übersichtsseite</h1>

{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-12 col-sm-12">

{% if user.role == "STUDENT" %}
<p>
<a href="{% url 'issues:issue_create' %}">
<button class="btn btn-primary">neues Ticket anlegen</button>
</a>
</p>
{% endif %}

<table class="table display" id="tickets" xdata-order='[[ 6, "desc" ]]'>
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kurs ID</th>
      <th scope="col">Kurs Name</th>
      <th scope="col">Fehler</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
      <th scope="col">Schwere</th>
    </tr> 
  </thead>
  <tbody>
{% for issue in object_list %}
      <tr class="table-{{issue.get_severity_display|severity_bootstrap}}" >
      <th scope="row">{{issue.pk}}</th>
      {% if user.role == "TUTOR" %}
      <td><a href="{% url 'issues:issue_detail_tutor' issue.pk %}">{{issue.course.shortcut}}</td>
      <td><a href="{% url 'issues:issue_detail_tutor' issue.pk %}">{{issue.course.name}}</td>
      {% else %}
      <td><a href="{% url 'issues:issue_detail' issue.pk %}">{{issue.course.shortcut}}</td>
      <td><a href="{% url 'issues:issue_detail' issue.pk %}">{{issue.course.name}}</td>
      {% endif %}
      <td>{{issue.name}}</td>
      <td>{{issue.author}}</td>
      <td>{{issue.get_status_display}}</td>
      <td>
      <span class="badge text-bg-{{issue.get_severity_display|severity_bootstrap}}
          rounded-pill">{{issue.get_severity_display}}</span></td>
    </tr>
{% endfor %}
  </tbody>
</table>

<p>
{% if not toggle_active %}
<a href="/?inactive=true">zeige geschlossene Tickets</a>
{% else %}
<a href="/?inactive=false">nur aktive Tickets anzeigen</a>
{% endif %}
</p>

{% comment %}
{% include "../snippets/paginator.html" %}
{% endcomment %}
</div>
</div>
</div>
<script>
window.onload = function(){
    new DataTable('#tickets', {
      "order": [],
      "language": {
        "oPaginate": {
            "sFirst":    "Erster",
            "sLast":    "Letzer",
            "sNext":    "Nächste",
            "sPrevious": "Vorherige"
        },
        "sSearch": "Suche:",
        "sEmptyTable":    "Keine Einträge vorhanden",
        "sInfo": "Zeige _START_ bis _END_ von _TOTAL_ Einträgen",
        "sInfoEmpty":     "Zeige 0 von 0 von 0 Einträgen",
        "sZeroRecords":   "Keine Treffer gefunden!",
        "sInfoFiltered":  "(aus _MAX_ Einträgen gefilert)",
        "sLengthMenu":    "Zeige _MENU_ Einträge",
        }
    });
};
</script>


{%endblock%}
